.barcode-reader .container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 70rem;
}

.barcode-reader .confirm-container {
  margin: 0 auto;
  width: 48rem;
}

.barcode-reader .confirm-barcode {
  height: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #DDD;
  margin: 0 auto;
  width: 48rem;
}

.barcode-reader .confirm-barcode div {
  font-size: 4rem;
}

.barcode-reader .confirm-barcode button {
  margin: 15px;
  font-size: 3rem;
}

.barcode-reader .confirm-barcode .confirm-img {
  max-height: 60%;
  max-width: 80%;
}

.barcode-reader .center {
  text-align: center;
}

.barcode-reader #snapshot {
  width: 64rem;
  height: 47rem;
}

.barcode-reader .hidden {
  display: none;
}

.barcode-reader #stream-show {
  background: transparent;
  border: none;
}

.barcode-reader #results {
  position: fixed;
  top: 0px;
  right: 0;
  background: white;
}

.barcode-reader #chooseFile {
  font-size: 2rem;
  zoom: 1.5;
  margin: 2rem 0;
}

.barcode-reader .btn {
  font-size: 2rem;
  margin: 1rem;
}

.barcode-reader p {
  font-size: 2rem;
}

@media (max-width: 550px) {
  .barcode-reader .container2 {
    max-width: 100%;
  }
  .barcode-reader #player {
    zoom: 45%;
  }
  .barcode-reader .confirm-container {
    margin: 0 auto;
    max-width: 90%;
  }
  .barcode-reader .confirm-barcode {
    width: 90%;
  }
  .barcode-reader #snapshot {
    width: 30rem;
    height: 22rem;
  }
}
