.barcode-reader{

.container2{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto; 
    margin-left: auto; 
	max-width: 70rem;
}

.confirm-container{
	margin: 0 auto;
	width: 48rem;
}

.confirm-barcode{
	height: 100%;
    position: fixed;
    bottom: 0px; 
    background-color: #DDD;
    margin: 0 auto;
	width: 48rem;
}

.confirm-barcode div{
    font-size: 4rem;
}

.confirm-barcode button{
	margin: 15px;
    font-size: 3rem;
}

.confirm-barcode .confirm-img{
	max-height: 60%;
	max-width: 80%;
}


.center {
    text-align: center;
}


#snapshot {
    width: 64rem;
    height: 47rem;
}

.hidden {
	display: none;
}
#stream-show {
	background: transparent;
	border: none;
}

#results {
	position: fixed;
	top: 0px;
	right: 0;
	background: white;
}

#chooseFile{
    font-size: 2rem;
    zoom: 1.5;
	margin: 2rem 0;
}

.btn{
	font-size: 2rem;
    margin: 1rem;
}

p{
	font-size: 2rem;
}


@media (max-width: 550px){
	.container2 {
		max-width: 100%;
	}
	#player{
		zoom: 45%;
	}
	.confirm-container {
		margin: 0 auto;
		max-width: 90%;
	}
	.confirm-barcode {
		width: 90%;
	}
	#snapshot{
		width: 30rem;
		height: 22rem;
	}
}

}